body {
	// everything related to the typography is put here
	font-family: "Lato", "Helvetica Neue", Sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: $color-grey-dark;
	padding: 3rem;
	// box-sizing: border-box;
}

.heading-primary {
	color: $color-white;
	text-transform: uppercase;
	backface-visibility: hidden;
	text-align: center;
	margin-bottom: 6rem;

	&--main {
		display: block;
		font-size: 6rem;
		font-weight: 400;
		letter-spacing: 3.5rem;
		animation: moveInLeft;
		animation-duration: 1.2s;
		animation-timing-function: ease-out;
		/*
		animation-iteration-count: 3;
		  animation-delay: 3s; 
		*/
	}
	&--sub {
		display: block;
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 1.75rem;
		animation: moveInRight 1.2s ease-out;
	}
}

.heading-secondary {
	// có thể đặt trong homepage, nhưng do liên quan đến typo nên để đây
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;

	background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
	-webkit-background-clip: text;

	letter-spacing: 2px;
	color: transparent;

	transition: all 0.25s;

	&:hover {
		transform: skewY(2deg) skewX(0deg) scale(1.1);
		text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
	}
}
