.u-center-text {
	text-align: center;
}

.u-margin-bottom-big {
	margin-bottom: 8rem;
}

.u-margin-bottom-small {
	margin-bottom: 2rem;
}

.heading-tertiary {
	font-size: $default-font-size;
	font-weight: 700;
	text-transform: uppercase;
}

.paragraph {
	font-size: $default-font-size;

	&:not(:last-child) {
		margin-bottom: 3rem;
	}
}
