.composition {
	position: relative;

	&__photo {
		width: 55%;
		box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
		// border-radius: 2px;
		position: absolute;
		z-index: 10; // assume
		transition: all 0.2s;
		outline-offset: 2rem;

		&:hover {
			outline: 1.5rem solid $color-primary;
			box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
			transform: scale(1.05) translateY(-0.25rem);
			z-index: 20;
		}

		&--1 {
			left: 0;
			top: -2rem;
		}
		&--2 {
			right: 0;
			top: 2rem;
		}

		&--3 {
			left: 20%;
			top: 10rem;
		}
	}
	&:hover &__photo:not(:hover) {
		// composition:hover composition__photo:not(:hover){   }

		transform: scale(0.95);
	}
}
